@model ProductViewModel

<div class="container">
  <h3 class="text-center my-5">My Account</h3>
  <div class="row">
    <div class="col-lg-3 my-5">
      <vc:user-menu></vc:user-menu>
    </div>
    <div class="col-lg-9 my-5">
      <div class="row">
        @foreach (var prd in Model.Products)
        {
          <div class="col-lg-4">
            <div class="card no-border" style="width: 250px;">
              <img src="~/img/@prd.Image" class="card-img-top" alt="...">
              <div class="text-wish">
                <button class="btn btn-xxs w-100 btn-dark card-btn rounded-0" data-bs-toggle="modal"
                  data-bs-target="#modalProduct">
                  <a href="/product/details/@prd.Url" class=" text-decoration-none" style="color: white;!important">
                    <i class="fa-solid fa-eye icon-wish me-2 mb-1"></i> Quick View
                  </a>
                </button>
              </div>
              <div class="card-body px-0">
                <div class="fs-xs">
                  <a class="text-muted text-decoration-none"
                    href="/category/list/@prd.Category?.Url">@prd.Category?.Name</a>

                </div>
                <div class="fw-bold text">
                  <a href="/product/details/@prd.Url" class="text-decoration-none" style="color: rgb(82, 82, 82);">

                    @prd.Name
                  </a>
                </div>
                <div class="fw-bold text-muted">
                  $@prd.Price
                </div>
              </div>
            </div>

          </div>

        }
      </div>
    </div>

  </div>
</div>
</div>