@model ProductViewModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopper</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Shopper.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <header>
        <section class="full-width-section border-bottom pb-5">
            <div class="card-group">
                <div class="card">
                    <div class="position-relative">
                        <img src="~/img/cover-1.jpg" class="card-img-top hover-zoom" alt="...">
                        <div class="position-absolute bottom-20 start-50 translate-middle-x p-2 bg-white">
                            <a href="#" class="shop-button">Shop Women
                                <i class="fa-solid fa-arrow-right arrow-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="position-relative">
                        <img src="~/img/cover-2.jpg" class="card-img-top hover-zoom" alt="...">
                        <div class="position-absolute bottom-20 start-50 translate-middle-x p-2 bg-white">
                            <a href="#" class="shop-button">Shop Men
                                <i class="fa-solid fa-arrow-right arrow-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="position-relative">
                        <img src="~/img/cover-3.jpg" class="card-img-top hover-zoom" alt="...">
                        <div class="position-absolute bottom-20 start-50 translate-middle-x p-2 bg-white">
                            <a href="#" class="shop-button">Shop Kids
                                <i class="fa-solid fa-arrow-right arrow-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="pt-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center">
                        <h6 class="heading-xxs mb-3 text-gray-400">
                            New Collection
                        </h6>
                        <h2 class="mb-4">Best Picks 2024</h2>
                        <p class="mb-10 text-gray-500">
                            Appear, dry there darkness they're seas, dry waters thing fly midst. Beast, above fly
                            brought Very green.
                        </p>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row align-items-stretch mt-5">
                    <div class="col-12 col-md-5 col-lg-4 d-flex">
                        <div class="card mb-3 text-white w-100">
                            <img src="~/img/product-1.jpg" class="img-fluid hover-zoom">
                            <div class="position-absolute top-50 start-50 translate-middle p-2">
                                <h4>Bags Collection</h4>
                                <a class="btn btn-link stretched-link text-reset" href="shop.html">
                                    Shop Now <i class="fa-solid fa-arrow-right arrow-icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-7 col-lg-8 d-flex">
                        <div class="card mb-3 text-body w-100 position-relative">
                            <img src="~/img/product-2.jpg" class="img-fluid hover-zoom">
                            <div class="position-absolute text-content p-2">
                                <div class="card-circle card-circle-lg card-circle-end bg-warning text-white">
                                    <strong>save</strong>
                                    <span class="fs-4 fw-bold">30%</span>
                                </div>
                                <h4>Printed men’s Shirts</h4>
                                <a class="btn btn-link stretched-link text-reset" href="#">
                                    Shop Now <i class="fa-solid fa-arrow-right arrow-icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-7 col-lg-8 d-flex">
                        <div class="card mb-3 text-body w-100 position-relative">
                            <img src="~/img/product-3.jpg" class="img-fluid hover-zoom">
                            <div class="position-absolute text-content p-2">
                                <h4>Basic women’s Dresses</h4>
                                <a class="btn btn-link stretched-link text-reset" href="shop.html">
                                    Shop Now <i class="fa-solid fa-arrow-right arrow-icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-lg-4 d-flex">
                        <div class="card mb-3 text-white w-100">
                            <img src="~/img/product-4.jpg" class="img-fluid hover-zoom">
                            <div class="position-absolute top-50 start-50 translate-middle p-2">
                                <h4>Sweatshirts</h4>
                                <a class="btn btn-link stretched-link text-reset" href="shop.html">
                                    Shop Now <i class="fa-solid fa-arrow-right arrow-icon"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section class="py-12 mt-5">
            <vc:product-list></vc:product-list>
        </section>
    </header>
    <div class="container">
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>
