<ul class="list-group list-group-flush">
  <li class="list-group-item py-3">
    <a href="/User/Order" class="custom-link">Orders</a>
  </li>
  <li class="list-group-item py-3">
    <a href="/User/Wishlist" class="custom-link">Wishlist</a>
  </li>
  <li class="list-group-item py-3">
    <a href="/User/PersonalInfo" class="custom-link">Personal Info</a>
  </li>
  <li class="list-group-item py-3">
    <a href="/User/Adresses" class="custom-link">Addresses</a>
  </li>
  <li class="list-group-item py-3">
    <a href="/User/Payment" class="custom-link">Payment Methods</a>
  </li>
  <li class="list-group-item py-3">
    <a href="/Home/Index" class="custom-link">Logout</a>
  </li>
</ul>

<style>
  .custom-link {
    color: black;
    /* Bağlantı metnini siyah yap */
    text-decoration: none;
    /* Altı çizili olmasın */
  }

  .custom-link:hover {
    color: black;
    /* Üzerine gelindiğinde de siyah kalsın */
    text-decoration: none;
    /* Üzerine gelindiğinde altı çizilmesin */
  }
</style>